{% extends 'base.html' %}
{% block title %}
    About Us
{% endblock %}


{% load staticfiles %}
{% block content %}
    <div class="aboutUsContainer">
        <img class="aboutUsContainer-img" src="{% static 'images/AboutUsBG.png' %}" alt="">
        <h2 class="aboutUsContainer-h">About Us</h2>
        <p class="aboutUsContainer-p">Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt
            ut ero labore et dolore magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti
            laboris nisi
            ut aliquip ex ea commodo consequat. Duis aute irure dolor in reprehenderit in uienply voluptate velit esse
            cillum dolore
            eu fugiat nulla pariatur. Excepteur sint occaecat cupidatat norin proident, sunt in culpa qui officia
            deserunt mollit
            anim id est laborum. Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor
            incididunt ut ero labore et dolore
            magna aliqua. Ut enim ad minim veniam, quis nostrud exercitation ullamco poriti laboris nisi ut aliquip ex
            ea
            commodo consequat. Duis aute irure dolor in reprehenderit in uienply voluptate velit esse cillum dolore eu
            fugiat
            nulla pariatur. Excepteur sint occaecat cupidatat norin proident, sunt in culpa qui officia deserunt mollit
            anim
            id est laborum.</p>
    </div>
    <div class="ab-container">
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4">
                <div class="circle-e rounded-circle" style=""><h3 class="circle-txt">GOAL</h3></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero
                    labore
                    et dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut ero labore et dolore.
                </p>
            </div>
        </div>
        <div class="row">
            <div class="col-sm-4"></div>
            <div class="col-sm-4 text-center">
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut ero
                    labore
                    et dolore.
                </p>
                <div class="circle-o rounded-circle"><h3 class="circle-txt-o">VISION</h3></div>
                <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt
                    ut
                    ero labore et dolore.
                </p>
            </div>
            <div class="col-sm-4"></div>
        </div>
        <div class="row">
            <div class="col-sm-4 text-center"><p>Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do
                eiusmod tempor
                incididunt ut ero labore
                et dolore.Lorem ipsum dolor sit amet, consectetur adipisicing elit, sed do eiusmod tempor incididunt ut
                ero labore et dolore.</p>
                <div class="circle-e rounded-circle"><h3 class="circle-txt">MISSION</h3></div>
            </div>
            <div class="col-sm-4"></div>
            <div class="col-sm-4"></div>
        </div>
    </div>

{% endblock %}
