{% extends 'base.html' %}
{% block title %}
Pages builder
{% endblock %}

{% load staticfiles %}
{% block content %}
<!-- write html here -->

<div class="row no-gutters">
    <div class="col-lg-12">

    </div>
</div>

<div class="row no-gutters">
    <div class="col-lg-2 compon">

        <div class="row no-gutters">
            <div class=" dragitms">
                <div class="banner"></div>
                <p>banner</p></div>
            <div class="dragitms">
                <div class="covers"></div>
                <p>cover</p></div>
            <div class=" dragitms">
                <div class="image-text"></div>
                <p>Image-Text</p></div>
            <div class=" dragitms">
                <div class="text-image"></div>
                <p>Text-Image</p></div>


            <div class=" dragitms">
                <div class="titles"></div>
                <p>title</p></div>
            <div class=" dragitms">
                <div class="text-block"></div>
                <p>Text block</p></div>


            <div class=" dragitms">
                <div class="pic"></div>
                <p>Picture</p></div>
            <div class=" dragitms">
                <div class="slider"></div>
                <p>Carousel</p></div>

            <div class=" dragitms">
                <div class="features"></div>
                <p>Features</p></div>
            <div class=" dragitms">
                <div class="cols"></div>
                <p>Columns</p></div>


            <div class=" dragitms">
                <div class="pageheader"></div>
                <p>Page Header</p></div>
            <div class=" dragitms">
                <div class="nuamberssy"></div>
                <p>Numbers</p></div>


            <div class=" dragitms">
                <div class="steps"></div>
                <p>Steps</p></div>
            <div class=" dragitms">
                <div class="tprofiles"></div>
                <p>Team Profiles</p></div>


            <div class=" dragitms">
                <div class="imagesrow"></div>
                <p>Images Row</p></div>
            <div class=" dragitms">

            </div>
        </div>


    </div>
    <div class="col-lg-10 cnt"></div>
</div>

{% endblock %}
