{% extends 'base.html' %}
{% load crispy_forms_tags %}
{% block title %}
    Registration
{% endblock %}

{% load staticfiles %}
{% block content %}
    <!-- write html here -->
    {% if registered %}
        <h1>thank you for registering</h1>
    {% else %}

        <form enctype="multipart/form-data" method="post" class="uniForm">
            {{ userform | crispy }}
            {{ userinfo | crispy }}


            {% csrf_token %}
            <input type="submit" class="btn btn-primary" value="Submit">
        </form>

    {% endif %}


{% endblock %}
